@page "/update/{useId:int}"
@rendermode InteractiveWebAssembly
@inject UserService service
@inject NavigationManager nav
@inject IJSRuntime JS


<EditForm Model="model" OnValidSubmit="SaveData">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div>
		<label for="name">User Name:</label>
		<InputText id="name" class="form-control" required @bind-Value="model.Username" />
		<ValidationMessage For="()=> model.Username" />
	</div>

	<div>
		<label for="name">User Phone Number:</label>
		<InputText id="name" class="form-control"  @bind-Value="model.Phone" />
		<ValidationMessage For="()=> model.Phone" />
	</div>

	<table class="table table-active table-bordered table-hover">
		<tr>
			<th>Departure Location</th>
			<th>Destination</th>
			<th>Departure Time</th>
			<th>Vehicle Type</th>
			<th>Ride Details</th>
			<th>Estimated Fare</th>
			<th>IsSmokingAllowed</th>
			@* <th>Weight</th>
			<th>Available?</th> *@
			<th>
				<button type="button" class="btn btn-outline-info" @onclick="AddRide">Add Ride</button>
			</th>
		</tr>
		@foreach (var prod in model.Rides)
		{
			<tr>
				<td>
					<InputText class="form-control" @bind-Value="prod.DepartureLocation" />
					<ValidationMessage For="()=> prod.DepartureLocation" />
				</td>
				<td>
					<InputText class="form-control" @bind-Value="prod.Destination" />
					<ValidationMessage For="()=> prod.Destination" />
				</td>
				@* <td>
			<InputText class="form-control" @bind-Value="@prod.DepartureTimeFormatted" />
			<ValidationMessage For="()=> prod.DepartureTimeFormatted" />

			</td> *@

				<td>
					<InputDate @bind-Value="prod.DepartureTime" />
					<ValidationMessage For="()=> prod.DepartureTime" />
				</td>


				<td>
					<InputText class="form-control" @bind-Value="@prod.VehicleType" />
					<ValidationMessage For="()=> prod.VehicleType" />

				</td>

				<td>
					<InputText class="form-control" @bind-Value="prod.RideDetails" />
					<ValidationMessage For="()=> prod.RideDetails" />
				</td>

				<td>
					<InputNumber class="form-control" @bind-Value="prod.EstimatedFare" />
					<ValidationMessage For="()=> prod.EstimatedFare" />
				</td>

				@* <td>
			<InputNumber class="form-control" @bind-Value="prod.IsSmokingAllowed" />
			<ValidationMessage For="()=> prod.IsSmokingAllowed" />
			</td> *@

				<td>
					<InputCheckbox @bind-Value="prod.IsSmokingAllowed" />
					<ValidationMessage For="()=> prod.IsSmokingAllowed" />
				</td>


				@* <td>
			<InputNumber class="form-control" @bind-Value="prod.RideDuration" />
			<ValidationMessage For="()=> prod.RideDuration" />
			</td> *@

				<td>
					<button type="button" class="btn btn-outline-warning" @onclick="()=> DeleteRide(prod)">Delete</button>
				</td>
			</tr>


		}
	</table>

	<button type="submit" class="btn btn-outline-success">
		Save
	</button>
	<button type="button" class="btn btn-outline-danger" @onclick="DataDelete">
		Delete
	</button>
	<NavLink class="btn btn-outline-info" href="uList">
		Cancel
	</NavLink>
</EditForm>

@code {

	[Parameter]
	public int useId { get; set; }

	private User model = new User();
	
	protected override async Task OnInitializedAsync()
	{		
		this.model = await this.service.GetById(useId);
		await base.OnInitializedAsync();
	}

	public async Task SaveData()
	{
		var response = await service.Update(model);

		if (response.IsSuccessStatusCode)
		{
			nav.NavigateTo("/uList");
		}
	}

	void AddRide()
	{
		model.Rides?.Add(new Ride());
	}

	void DeleteRide(Ride rideItem)
	{
		model.Rides?.Remove(rideItem);
	}

	async Task DataDelete()
	{
		var response = await service.Delete(useId);

		if (response.IsSuccessStatusCode)
		{
			nav.NavigateTo("/uList");
		}
	}
}
